.MiyagiResult:not(:first-child) {
  margin-top: 15px !important;
}

.MiyagiResult-data {
  border-left: 2px solid #ccc !important;
  padding: 0 0 0 10px !important;
}

.MiyagiResult-attr,
.MiyagiResult-value {
  display: inline !important;
}

.MiyagiResult-attr {
  font-weight: bold !important;
}

.MiyagiResult-attr::after {
  content: ":" !important;
  display: inline !important;
}

.MiyagiResult a {
  color: currentColor !important;
  padding: 0 4px !important;
  position: relative !important;
  word-break: break-all !important;
}

.MiyagiResult a:hover,
.MiyagiResult a:focus,
.MiyagiResult a:active {
  background: var(--Miyagi-content-color-Text) !important;
  border-radius: var(--Miyagi-borderRadius) !important;
  box-shadow: 0 2px 0 var(--Miyagi-content-color-Text) !important;
  color: var(--Miyagi-color-Background2) !important;
  text-decoration: none !important;
}

.MiyagiResult-extract {
  font-family: "Menlo", "Monaco", monospace !important;
}
