@import "./iframe/theme.css";

html {
  height: 100% !important;
}

body {
  margin: 0 !important;
  min-height: 100% !important;
  background: var(--Miyagi-content-color-Background) !important;
}

.MiyagiWrapper {
  box-sizing: border-box !important;
  padding: var(--Miyagi-spacing) !important;
  width: 100% !important;
  position: relative;
}

.MiyagiWrapper > .MiyagiIframe-newTabLink {
  position: absolute !important;
  right: var(--Miyagi-spacing) !important;
  top: calc(var(--Miyagi-spacing) / 2) !important;
  transform: translateY(-50%) !important;
}

.MiyagiContent,
.MiyagiIframe-newTabLink,
.MiyagiContent .MiyagiComponent-head {
  font-family: var(--Miyagi-fontFamily) !important;
  line-height: 1 !important;
}

.MiyagiContent {
  color: var(--Miyagi-content-color-Text) !important;
}

.MiyagiContent a {
  color: var(--Miyagi-content-color-Link) !important;
  text-decoration: underline !important;
}

.MiyagiContent code[class*="language-"],
.MiyagiContent pre[class*="language-"] {
  text-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-size-adjust: 0.525 !important;
  text-shadow: none !important;
}

.MiyagiContent .MiyagiDocumentation,
.MiyagiContent .MiyagiInformation,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent .MiyagiErrorMessage {
  line-height: calc(1ex / 0.32) !important;
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code,
.MiyagiContent .Miyagi-code code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  font-family: "Menlo", "Monaco", monospace !important;
}

.MiyagiContent .MiyagiDocumentation h1 {
  color: var(--Miyagi-content-color-Headline1) !important;
  font-size: 2.4em !important;
  font-weight: bold !important;
  line-height: 1 !important;
}

.MiyagiContent .MiyagiDocumentation > * + * {
  margin-top: calc(1ex / 0.32) !important;
}

.MiyagiContent .MiyagiDocumentation i {
  font-style: italic !important;
}

.MiyagiContent .MiyagiInformation-val {
  margin-left: 0 !important;
}

.MiyagiContent .MiyagiComponent-headMeta > *:not(:first-child) {
  margin-left: 15px !important;
  padding-left: 15px !important;
  border-left: 1px solid !important;
}

.MiyagiContent .MiyagiDocumentation > *:first-child {
  margin-top: 0 !important;
}

.MiyagiContent .MiyagiDocumentation p {
  max-width: 64ch !important;
}

.MiyagiContent .Miyagi-sectionTitle {
  align-items: center !important;
  color: var(--Miyagi-content-color-Headline2) !important;
  display: flex !important;
  font-size: 1.6em !important;
  margin: 2em 0 1em !important;
  scroll-margin-top: 1.5em !important;
}

.MiyagiContent .Miyagi-sectionTitle::after {
  background: var(--Miyagi-content-color-Headline2-divider) !important;
  content: "" !important;
  flex: 1 !important;
  height: 1px !important;
  margin-left: 20px !important;
}

.MiyagiContent .MiyagiInformation-wrapper + .MiyagiInformation-wrapper {
  margin-top: 30px !important;
}

.MiyagiContent .MiyagiInformation-attr {
  color: var(--Miyagi-content-color-TextSecondary) !important;
  font-family: var(--Miyagi-fontFamily) !important;
  font-size: 0.875em !important;
  letter-spacing: 0.0375em !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
}

.MiyagiContent .MiyagiInformation-attr:not(:first-child) {
  margin-top: 1em !important;
}

.MiyagiContent .MiyagiInformation code,
.MiyagiContent .MiyagiDocumentation code {
  font-weight: 600 !important;
}

.MiyagiContent .MiyagiStatus::before {
  --size: 0.7em;

  border-radius: 50% !important;
  content: "" !important;
  display: inline-block !important;
  height: var(--size) !important;
  margin: 0 0.25em 0 0 !important;
  width: var(--size) !important;
}

.MiyagiContent .MiyagiStatus--valid::before {
  background-color: var(--Miyagi-content-color-Positive) !important;
}

.MiyagiContent .MiyagiStatus--invalid::before {
  background-color: var(--Miyagi-content-color-Negative) !important;
}

.Miyagi-frame {
  display: block !important;
  width: 100% !important;
  border: none !important;
}

.MiyagiComponent-head {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
}

.MiyagiComponent-headMeta {
  display: flex !important;
  align-items: center !important;
  font-size: 14px !important;
  margin-left: 30px !important;
}

.MiyagiComponent-file {
  align-items: center !important;
  color: #767676 !important;
  display: inline-flex !important;
  flex-wrap: wrap !important;
  font-family: var(--Miyagi-fontFamily) !important;
  font-size: 0.875em !important;
  letter-spacing: 0.0375em !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
}

.MiyagiComponent-file:hover,
.MiyagiComponent-file:focus,
.MiyagiComponent-file:active {
  text-decoration: underline !important;
}

.MiyagiComponent-fileFolders {
  color: #bbb !important;
}

.MiyagiComponent-html {
  margin: calc(var(--Miyagi-spacing) / 2) 0 0 !important;
}

.MiyagiContent .MiyagiError {
  align-items: center !important;
  color: var(--Miyagi-content-color-Negative) !important;
  display: flex !important;
  height: 100% !important;
  justify-content: center !important;
  margin: 0 !important;
}

.MiyagiContent .MiyagiErrorMessage {
  color: var(--Miyagi-content-color-Negative) !important;
  margin: 1.5em 0 !important;
}

.MiyagiIframe-newTabLink {
  color: var(--Miyagi-content-color-NewTabLink) !important;
  align-items: center !important;
  display: flex !important;
  font-weight: normal !important;
  font-size: 14px !important;
  text-decoration: underline !important;
}

.MiyagiIframe-newTabLink svg {
  --size: 1.2em;

  height: var(--size) !important;
  margin-right: 0.5em !important;
  width: var(--size) !important;
  stroke: currentColor !important;
  stroke-width: 2px !important;
  fill: none !important;
}

.MiyagiContent .MiyagiTabs-nav {
  display: flex !important;
  list-style: none !important;
  margin: 0 0 -1px !important;
  padding: 0 !important;
}

.MiyagiContent .MiyagiTabs-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: none !important;
  padding: 0 15px !important;
  font: inherit !important;
  color: inherit !important;
  line-height: 2.5 !important;
  border: 0 solid transparent !important;
  border-width: 1px 1px 0 1px !important;
}

.MiyagiContent .MiyagiTabs-button[aria-selected="true"],
.MiyagiContent pre[class*="language-"],
.MiyagiContent .Miyagi-code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  background: var(--Miyagi-content-color-Code-background) !important;
}

.MiyagiContent .MiyagiTabs-button[aria-selected="true"],
.MiyagiContent :not(pre) > code[class*="language-"],
.MiyagiContent pre[class*="language-"] {
  border-color: var(--Miyagi-content-color-Code-outline) !important;
}

.MiyagiContent .Miyagi-code,
.MiyagiContent :not(pre) > code[class*="language-"] {
  border: 1px solid var(--Miyagi-content-color-Code-outline) !important;
  padding: calc(var(--Miyagi-spacing) / 2) !important;
}

.MiyagiContent .Miyagi-code,
.MiyagiContent pre[class*="language-"] {
  font-size: 0.875em !important;
}

.MiyagiContent .MiyagiTabs-tab[hidden] {
  display: none !important;
}

.MiyagiContent .MiyagiTabs-tab > *:first-child {
  margin-top: 0 !important;
}

.MiyagiComponent:not(:last-child) {
  margin-bottom: calc(2 * var(--Miyagi-spacing)) !important;
}

.MiyagiComponent .MiyagiComponent-head {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
}

.MiyagiComponent .MiyagiComponent-headMeta {
  display: flex !important;
  align-items: center !important;
  font-size: 14px !important;
  margin-left: 30px !important;
}

.MiyagiComponent .MiyagiComponent-file {
  align-items: center !important;
  color: var(--Miyagi-content-color-TextSecondary) !important;
  display: inline-flex !important;
  flex-wrap: wrap !important;
  font-family: var(--Miyagi-fontFamily) !important;
  font-size: 0.875em !important;
  letter-spacing: 0.0375em !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
}

.MiyagiComponent .MiyagiComponent-file:hover,
.MiyagiComponent .MiyagiComponent-file:focus,
.MiyagiComponent .MiyagiComponent-file:active {
  text-decoration: underline !important;
}

.MiyagiComponent .MiyagiComponent-fileFolders {
  color: var(--Miyagi-content-color-TextTertiary) !important;
}

.MiyagiComponent .MiyagiComponent-html {
  margin: calc(var(--Miyagi-spacing) / 2) 0 0 !important;
}

.MiyagiComponentView {
  border: 1px solid var(--Miyagi-content-color-Outline) !important;
  box-sizing: border-box !important;
  height: calc(100vh - 2 * var(--Miyagi-spacing));
  overflow: auto !important;
  resize: both !important;
  width: 100%;
}

.MiyagiComponentView .Miyagi-frame {
  height: 100% !important;
}

.MiyagiWrapper ~ .MiyagiIframe-newTabLink {
  line-height: 40px !important;
  position: absolute !important;
  right: 40px !important;
  top: 0 !important;
}

@media screen and (prefers-reduced-motion) {
  .MiyagiContent *,
  .MiyagiContent *::after,
  .MiyagiContent *::before {
    animation: none !important;
    transition: none !important;
  }
}
