.MiyagiContent .MiyagiColors {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr)) !important;
  grid-gap: 3em !important;
}

.MiyagiContent .MiyagiColors-button {
  --size: 3em;

  display: flex !important;
  flex-wrap: wrap !important;
}

.MiyagiContent .MiyagiColors-button::before,
.MiyagiContent .MiyagiColors-button::after {
  display: block !important;
}

.MiyagiContent .MiyagiColors--all .MiyagiColors-button::before {
  margin-right: 10px !important;
  width: var(--size);
}

.MiyagiContent .MiyagiColors--all .MiyagiColors-button::before,
.MiyagiContent .MiyagiColors--decoration .MiyagiColors-button::before {
  height: var(--size) !important;
  background: var(--color) !important;
  border: 1px solid var(--backdrop, transparent) !important;
  content: "" !important;
  order: -1 !important;
}

.MiyagiContent .MiyagiColors--decoration .MiyagiColors-button::before {
  width: 100% !important;
}

.MiyagiContent .MiyagiColors--all .MiyagiColors-button::after,
.MiyagiContent .MiyagiColors--typo .MiyagiColors-button::after {
  font-size: var(--size) !important;
  color: var(--color) !important;
  font-weight: bold !important;
  order: -1 !important;
  /* stylelint-disable */
  -webkit-text-stroke: 1px var(--backdrop, transparent) !important;
  text-stroke: 1px var(--backdrop, transparent) !important;
  /* stylelint-enable */
}

.MiyagiContent .MiyagiColors--all .MiyagiColors-button::after {
  content: "Aa" !important;
}

.MiyagiContent .MiyagiColors--typo .MiyagiColors-button::after {
  content: "AaBbCc" !important;
}

.MiyagiContent .MiyagiColors-prop,
.MiyagiContent .MiyagiColors-value {
  flex: 1 0 100% !important;
  margin: 10px 0 0 !important;
}
