.MiyagiContent .MiyagiFonts-item:not(:first-child) {
  margin-top: 3em !important;
}

.MiyagiContent .MiyagiFonts-button {
  color: inherit !important;
}

.MiyagiContent .MiyagiFonts-button::before {
  content: "The quick brown fox jumps over the lazy dog" !important;
  font-family: var(--font-family) !important;
  font-feature-settings: var(--font-feature-settings) !important;
  font-kerning: var(--font-kerning) !important;
  font-size-adjust: var(--font-size-adjust) !important;
  font-size: var(--font-size) !important;
  font-stretch: var(--font-stretch) !important;
  font-style: var(--font-style) !important;
  font-variant-caps: var(--font-variant-caps) !important;
  font-variant: var(--font-variant) !important;
  font-weight: var(--font-weight) !important;
  letter-spacing: var(--letter-spacing) !important;
  line-height: var(--line-height) !important;
  text-shadow: var(--text-shadow) !important;
  text-transform: var(--text-transform) !important;
}

.MiyagiContent .MiyagiFonts-details {
  display: flex !important;
  padding: 0 !important;
  list-style: none !important;
}

.MiyagiContent .MiyagiFonts-details > li:not(:last-child) {
  margin-right: 0.5em !important;
  padding-right: 0.5em !important;
  border-right: 1px solid currentColor !important;
}
