:root {
  --Miyagi-fontFamily: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
  --Miyagi-content-color-Negative: #d9173e;
  --Miyagi-content-color-Positive: #690;

  /* light */
  --Miyagi-content-color-Grey-1: hsl(0, 0%, 12%);
  --Miyagi-content-color-Grey-2: hsl(0, 0%, 36%);
  --Miyagi-content-color-Grey-3: hsl(0, 0%, 56%);
  --Miyagi-content-color-Grey-4: hsl(0, 0%, 86%);
  --Miyagi-content-color-Grey-5: hsl(0, 0%, 96%);
  --Miyagi-content-color-BG: hsl(0, 0%, 100%);

  /* general */
  --Miyagi-content-color-Background: var(--Miyagi-content-color-BG);
  --Miyagi-content-color-Text: var(--Miyagi-content-color-Grey-1);
  --Miyagi-content-color-TextSecondary: var(--Miyagi-content-color-Grey-2);
  --Miyagi-content-color-TextTertiary: var(--Miyagi-content-color-Grey-3);
  --Miyagi-content-color-Link: var(--Miyagi-content-color-Grey-1);
  --Miyagi-content-color-Outline: var(--Miyagi-content-color-Grey-4);

  /* specific */
  --Miyagi-content-color-NewTabLink: var(--Miyagi-content-color-Link);
  --Miyagi-content-color-Headline1: var(--Miyagi-content-color-Grey-1);
  --Miyagi-content-color-Headline2: var(--Miyagi-content-color-Grey-1);
  --Miyagi-content-color-Headline2-divider: var(--Miyagi-content-color-Outline);
  --Miyagi-content-color-Code-background: var(--Miyagi-content-color-Grey-5);
  --Miyagi-content-color-Code-outline: var(--Miyagi-content-color-Outline);
  --Miyagi-transition: all 0.15s ease;
  --Miyagi-spacing: 40px;
}

.MiyagiTheme--dark {
  --Miyagi-content-color-Grey-1: hsl(0, 0%, 100%);
  --Miyagi-content-color-Grey-2: hsl(0, 0%, 80%);
  --Miyagi-content-color-Grey-3: hsl(0, 0%, 60%);
  --Miyagi-content-color-Grey-4: hsl(0, 0%, 26%);
  --Miyagi-content-color-Grey-5: hsl(0, 0%, 16%);
  --Miyagi-content-color-BG: hsl(0, 0%, 12%);
  --Miyagi-content-color-Negative: #ff305a;
  --Miyagi-content-color-Warning: #b578b5;
  --Miyagi-content-color-Positive: #8dd203;
}
